.advantages {
    z-index: 1;
    position: absolute;
    top: 1847px;
    width: 100%;
    min-height: 566px;
    background-color: #fff;
    h2 {
        top: -67px;
        position: absolute;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__wrapper {
        padding: 42px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.advantage-block {
    margin: 30px 0;
    margin-left: 40px;
    width: 310px;
    h3 {
        position: relative;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 14px;
        &::before {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            background: url('../icons/check-circle.svg');
            left: -41px;
            top: 8px;
        }
    }
    p {
        font-size: 12px;
        line-height: 20px;
    }
}