.contents {
    width: 100%;
    position: relative;
    &__bg {
        margin-top: 196px;
        background: url(../img/bg_02.svg) 0 -200px / cover no-repeat;
    }
    &__no-bg {
        width: 100%;
        position: relative;
        background-color: #F4F4F4;
    }
}
