.contents {
    width: 100%;
    position: relative;
    height: 1846px;
    &__bg {
        display: block;
        position: absolute;
        object-fit: cover;
        width: 90%;
        height: 100%;
        margin-top: 100px;
    }
    &__no-bg {
        width: 100%;
        position: relative;
        height: 3585px;
        background-color: #F4F4F4;
    }
}