.contents {
    width: 100%;
    position: relative;
    height: 1846px;
    &__bg {
        position: absolute;
        object-fit: cover;
        width: 100%;
    }
    &__no-bg {
        width: 100%;
        position: relative;
        height: 4046px;
        background-color: #F4F4F4;
    }
}