.extras {
    position: absolute;
    top: -285px;
    z-index: 2;
    max-width: 100%;
    overflow: hidden;
    &__wrapper {
        display: flex;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: -1px -1px 10px 4px rgba(black, 0.2);
        overflow: hidden;
    }
    h2 {
        margin-bottom: 14px;
        margin-left: 30px;
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.extra-block {
    padding: 30px;
    display: block;
    width: 294px;
    min-height: 162px;
    border-right: 1px solid #E1E1E1;
    border-bottom: 6px solid $accent;
    h3 {
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    p {
        font-size: 12px;
        font-weight: 400;
    }
    &:last-child {
        border-right: none;
    }
}
@media(max-width: 1230px) {
    .extras {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 965px) {
    .extras {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        &__wrapper {
            border-radius: 0px;
            min-width: 1180px;
            display: flex;
        }
        &__scroll {
            &::-webkit-scrollbar {
                display: none; /*Chrome, Safari, Opera*/
            }
            -ms-overflow-style: none;  /* IE, Edge */
            scrollbar-width: none;  /* Firefox */
            overflow: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
}
@media (max-width: 600px) {
    .extras {
        top: -210px;
        h2 {
            display: none;
        }
        &__wrapper {
            min-width: 1028px;
        }

    }
    .extra-block {
        width: 257px;
        min-height: 151px;
        h3 {
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            font-weight: 400;
        }
        &:last-child {
            border-right: none;
        }
    }
}