.facts {
    margin-bottom: 145px;
    width: 100%;
    z-index: 1;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 25px;
    }
    h2 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.fact-block {
    width: 255px;
    min-height: 121px;
    p {
        margin-top: 12px;
        font-size: 16px;
        line-height: 21px;
        span {
            font-size: 64px;
            line-height: 92px;
            font-weight: 700;
            color: $accent;
        }
    }
}
@media(max-width: 1230px) {
    .facts {
        padding-left: 10px;
        padding-right: 10px;
        h2 {
            padding-left: 10px;
        }
        &__wrapper {
            justify-content: unset;
        }
    }
    .fact-block{
        margin-right: 40px;
        width: 400px;
        padding-left: 10px;
        padding-right: 10px;
        p {
            font-size: 14px;
            line-height: 19px;
        }
    }
}

@media (max-width: 965px) {
    .fact-block{
        width: 300px;
    }
}