.header {
    width: 100%;
    overflow: hidden;
    &__wrapper {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__mobile-buttons {
        display: none;
        button {
            background-color: #fff;
            border: none;
            outline: none;
        }
    }
    &__logo {
        height: 71px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        img {
            width: 128px;
            height: 26px;
        }
        p {
            margin-top: 5px;
            font-size: 11px;
            color: #666666;
        }
    }
    &__phone {
        color: $accent;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        padding-right: 20px;
    }
    &__menu {
        height: 100%;
        display: flex;
        justify-content: center;

    }
    &__submenu {
        overflow: hidden;
        width: 189px;
        height: 258px;
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: #ffffff;
        transform: translateY(-281px);
        border-radius: 0 0 15px 15px;
        hr {
            border-top: 1px solid #E1E1E1;
        }
        a {
            padding-left: 15px;
            display: block;
            width: 100%;
            height: 43px;
            border-bottom: 1px solid #E1E1E1;
            display: flex;
            align-items: center;
            color: black;
            text-transform: uppercase;
            font-size: 12px;
            text-decoration: none;
            font-weight: 700;
            color: #000;
            &:hover {
                color: $accent;
                border-bottom: 1px solid $accent;
            }

        }
    }
    &__links {
        display: block;
        position: relative;
        &:hover {
            .header__submenu {
                transform: translateY(1px);
            }
        }
    }
    &__link {
        height: 68px;
        display: flex;
        justify-content: center;
        a {
            margin-top: -2px;
            display: block;
            padding: 0 15px;
            background-color: white;
            z-index: 2;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 66px;
            text-decoration: none;
            font-weight: 700;
            color: #000;
            border-top: 3px solid rgba($accent, 0.0);
            &:hover {
                border-top: 3px solid rgba($accent, 1);
            }
        }
        img {
            width: 6px;
            height: 4px;
            margin-left: -8px;
            margin-top: 31px;
            z-index: 2;
        }
        &:hover {
            a {
                color: $accent;
            }
        }
    }

}

@media(max-width: 1230px) {
    .header {
        &__logo {
            height: 71px;
            padding-left: 20px;
            img {
                width: 100px;
                height: 20px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        &__link {
            a {
                padding: 0 10px;
                font-size: 11px;
            }
            img {
                margin-left: -3px;
                margin-top: 33px;
            }
            &:hover {
                img {
                    transform: rotate(-180deg);
                }
            }
        }
    
    }
}

@media(max-width: 1080px) {
    .header__links_1 {
        display: none;
    }
}
@media(max-width: 1020px) {
    .header__links_2 {
        display: none;
    }
}
@media(max-width: 970px) {
    .header__links_3 {
        display: none;
    }
}

@media(max-width: 900px) {
    .header__links_4 {
        display: none;
    }
}

@media(max-width: 800px) {
    .header__links_5 {
        display: none;
    }
}

@media(max-width: 600px) {
    .header__links {
        display: none;
    }
    .header__phone {
        display: none;
    }
    .header__mobile-buttons {
        display: block;
        padding-right: 5px;
        button {
            padding: 0 15px;
        }
    }
}