.header {
    position: relative;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    &__wrapper {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }
    &__mobile-buttons {
        display: none;
        button {
            background-color: #fff;
            border: none;
            outline: none;
        }
    }
    &__logo {
        height: 71px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        img {
            width: 128px;
            height: 26px;
        }
        p {
            margin-top: 5px;
            font-size: 11px;
            color: #666666;
        }
    }
    &__phone {
        position: relative;
        background-color: #fff;
        z-index: 5;
        color: $accent;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        padding-right: 20px;
    }
    &__menu {
        height: 100%;
        display: flex;
        justify-content: center;

    }
    &__submenu {
        .subpoint_1, .subpoint_2, .subpoint_3, .subpoint_4, .subpoint_5 {
            display: none;
        }
        z-index: 21;
        margin-top: 1px;
        width: 189px;
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 0 0 15px 15px;
        hr {
            border-top: 1px solid #E1E1E1;
        }
        li {
            list-style: none;
            &:last-child {
                border-bottom: none;
            }
            position: relative;
            padding-left: 15px;
            display: block;
            width: 100%;
            height: 43px;
            border-bottom: 1px solid #E1E1E1;
            display: flex;
            align-items: center;
            a {
                display: flex;
                align-items: center;
                height: 43px;
                color: black;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                text-decoration: none;
            }
            .sub {
                position: absolute;
                display: none;
                flex-direction: column;
                width: 189px;
                background-color: white;
                border-radius:  0 15px 15px 15px;
                top: -1px;
                right: -189px;
                a {
                    color: black;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 12px;
                    text-decoration: none;
                    &:last-child {
                        border-bottom: none;
                    }
                    padding-left: 15px;
                    width: 100%;
                    height: 43px;
                    border-bottom: 1px solid #E1E1E1;
                    display: flex;
                    align-items: center;
                    &:hover {
                        border-bottom: 1px solid $accent;
                        color: $accent;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            &:hover {
                border-bottom: 1px solid $accent;
                color: $accent;
                img {
                    transform: rotate(-180px);
                }
                .sub {
                    display: flex;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    &__links {
        display: block;
        position: relative;
        &:hover {
            .header__submenu {
                display: flex;
            }
        }
    }
    &__link {
        height: 68px;
        display: flex;
        justify-content: center;
        a {
            margin-top: -2px;
            display: block;
            padding: 0 15px;
            background-color: white;
            z-index: 2;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 66px;
            text-decoration: none;
            font-weight: 700;
            color: #000;
            border-top: 3px solid rgba($accent, 0.0);
            &:hover {
                border-top: 3px solid rgba($accent, 1);
            }
        }
        img {
            width: 6px;
            height: 4px;
            margin-left: -8px;
            margin-top: 31px;
            z-index: 2;
        }
        &:hover {
            color: $accent;
            img {
                transform: rotate(-180deg);
            }
        }
    }
}
@media(max-width: 1230px) {
    .header {
        &__logo {
            height: 71px;
            padding-left: 20px;
            img {
                width: 100px;
                height: 20px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        &__link {
            a {
                padding: 0 10px;
                font-size: 11px;
            }
            img {
                margin-left: -3px;
                margin-top: 33px;
            }
            &:hover {
                img {
                    transform: rotate(-180deg);
                }
            }
        }
    
    }
}

@media(max-width: 1080px) {
    .header__links_1 {
        display: none;
    }
    .header {
        &__submenu {
            .subpoint_1 {
                display: block;
            }
        }
    }
}
@media(max-width: 1020px) {
    .header__links_2 {
        display: none;
    }
    .header {
        &__submenu {
            .subpoint_2 {
                display: block;
            }
        }
    }
}
@media(max-width: 970px) {
    .header__links_3 {
        display: none;
    }
    .header {
        &__submenu {
            .subpoint_3 {
                display: block;
            }
        }
    }
}

@media(max-width: 900px) {
    .header__links_4 {
        display: none;
    }
    .header {
        &__submenu {
            .subpoint_4 {
                display: block;
            }
        }
    }
}

@media(max-width: 800px) {
    .header__links_5 {
        display: none;
    }
    .header {
        &__submenu {
            .subpoint_5 {
                display: block;
            }
        }
    }
}

@media(max-width: 600px) {
    .header__links {
        display: none;
    }
    .header__phone {
        display: none;
    }
    .header__mobile-buttons {
        display: block;
        padding-right: 5px;
        button {
            padding: 0 15px;
        }
    }
}