.mobile-menu {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    display: none;
    width: 100%;
    background-color: #fff;
    max-height: 363px;
    top: -363px;
    &__opened {
        top: 72px;

    }
    &__point {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 43px;
        overflow: hidden;
        border-bottom: 1px solid #E1E1E1;
        p {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            width: max-content;
            display: flex;
            line-height: 43px;
            align-items: center;
        }
        button {
            margin-top: 7px;
            margin-right: 40px;
            overflow: hidden;
            height: 0px;
            width: 22px;
            border: none;
            display: flex;
            justify-content: center;
            background-color: transparent;
            align-items: center;
            span {
                display: block;
                width: 1px;
                height: 8.5px;
                background-color: #fff;
                transform: rotate(45deg);
                margin-left: -8px;
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
        &_active {
            background-color: $accent;
            height: unset;
            min-height: 129px;
            p {
                color: #fff;

            }
            button {
                transform: rotate(90deg);
                margin-left: 10px;
                height: 22px;
            }
            .mobile-menu__subpoints {
                display: flex;
            }
        }
    }
    &__subpoints {
        top: 100%;
        min-height: 43px;
        width: 100%;
        display: flex;
        flex-direction: column;
        a {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            padding-left: 23px;
            min-height: 43px;
            display: flex;
            align-items: center;
        }
    }
    &__subpoint {
        position: relative;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #E1E1E1;
        background-color: white;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        .mobile-menu__subsubpoint {
            width: 100%;
            display: flex;
            justify-content: start;
            border-top: 1px solid #E1E1E1;
            padding-left: 20px;
            display: none;
        }
        button {
            margin-right: -30px;
            margin-top: -5px;
            transform: rotate(0deg);
            position: absolute;
            top: 15px;
            right: 40px;
            span {
                background-color: #000;
            }
        }
        &_active {
            .mobile-menu__subsubpoint {
                display: flex;
            }
            button {
                transform: rotate(-180deg);
                margin-right: -22px;

                span {
                    background-color: $accent;
                }
            }
        }
    }
}

@media(max-width: 600px) {
    .mobile-menu {
        display: block;
    }
}