.order {
    margin-top: 80px;
    width: 100%;
    h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 33px;
        text-transform: uppercase;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.order-block {
    padding: 30px;
    max-width: 380px;
    height: 184px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    h3 {
        display: block;
        margin-right: 14px;
        font-size: 64px;
        color: $accent;
        font-weight: normal;
    }
    p {
        display: block;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        &:before {
            display: block;
            content: '';
            margin-bottom: 7px;
            width: 30px;
            height: 30px;
            background: url('../icons/check-circle.svg');
        }
        span {
            font-weight: 700;
            font-style: italic;
        }
    }
}

@media (max-width: 1230px) {
    .order {
        &__wrapper {
            min-width: 2360px;
            display: flex;
        }
        &__scroll {
            &::-webkit-scrollbar {
                display: none; /*Chrome, Safari, Opera*/
            }
            -ms-overflow-style: none;  /* IE, Edge */
            scrollbar-width: none;  /* Firefox */
            overflow: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
}

@media (max-width: 600px) {
    .order {
        margin-top: 40px;
        h2 {
            font-size: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
        }
        &__wrapper {
            min-width: 1786px;
        }
    }
    .order-block {
        &:first-child {
            margin-left: 20px;
        }
        &:last-child {
            margin-right: 20px;
        }
        padding: 20px;
        max-width: 278px;
        height: 167px;
        margin-bottom: 0px;
        h3 {
            margin-right: 17px;
            font-size: 48px;
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }
}