.questions {
    background-color: $accent;
    max-width: 100%;
    overflow: hidden;
    &__wrapper {
        max-width: 100%;
        overflow: hidden;
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 22px;
            font-weight: 700;
            color: white;
        }
        p {
            color: white;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            span {
                font-weight: 700;
            }
        }
        button {
            width: 180px;
            height: 39px;
            background-color: #fff;
            border: none;
            border-radius: 15px;
            color: $accent;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            &:hover {
                background-color: $hover;
                color: white;
            }
            &:active {
                background-color: $active;
                color: white;
            }
        }
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        width: 132px;
        height: 32px;
        img {
            height: 32px;
            width: 32px;
        }
    }
}

@media (max-width: 960px) {
    .questions {
        &__wrapper {
            padding: 20px 0;
            flex-direction: column;
            height: unset;
            h2 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
        }
        &__socials {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 600px) {
    .questions {
        &__wrapper {
            align-items: flex-start;
        }
    }
    .questions {
        max-width: 100%;
        &__wrapper {
            h2 {
                font-size: 18px;
                line-height: 22px;
            }
            p {
                font-size: 12px;
                line-height: 16px;
            }
            button {
                width: 180px;
                height: 39px;
                border: none;
                border-radius: 15px;
                font-size: 12px;
            }
        }
        &__socials {
            width: 132px;
            height: 32px;
            img {
                height: 32px;
                width: 32px;
            }
        }
    }
}