.services {
    z-index: 1;
    max-width: 100%;
    margin-bottom: 80px;
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 33px;
    }
    &__wrapper {
        max-width: 1180px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

.service-block {
    &_emphasise {
        border: 2px solid $accent;
    }
    position: relative;
    max-width: 380px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    img {
        object-fit: cover;
        height: 237px;
    }
    &__text {
        padding: 40px;
    }
    h3 {
        height: 50px;
        margin-top: -3px;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 6px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 31px;
    }
    button {
        width: 100%;
        height: 40px;
        display: inline;
        border-radius: 15px;
        border: 1px solid $accent;
        color: $accent;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #fff;
        &:hover {
            background-color: $hover;
            color: white;
        }
        &:active{
            background-color: $active;
            color: white;
        }
    }
    &__special {
        text-align: center;
        display: block;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        color: $accent;
        padding: 10px 20px;
        width: 228px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 0 0 10px 10px;
    }
    &__offer {
        display: flex;
        position: absolute;
        border-radius: 5px;
        background-color: $accent;
        color: white;
        font-size: 12px;
        font-weight: 700;
        padding: 10px;
        align-items: center;
        top: 220px;
        margin-left: 40px;
        &_discount {
            margin-left: 100px;
            border: 1px solid $accent;
            background-color: #fff;
            color: $accent;
        }
    }
}
.all-services {
    margin-top: 20px;
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 129px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 7px;
        width: 200px;
        span {
            color: $accent;
        }
    }
    p {
        padding-left: 3px;
        max-width: 623px;
        font-size: 14px;
        line-height: 20px;
        span {
            font-style: italic;
            font-weight: 700;
        }
    }
    .button__order {
        width: 193px;
    }
    button {
        min-width: 160px;
        height: 40px;
        background-color: $accent;
        border: none;
        border-radius: 10px;
        outline: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: white;
        padding: 0 18px;
        white-space: nowrap;
        &:hover {
            background-color: $hover;
            color: white;
        }
        &:active {
            background-color: $active;
            color: white;
        }
    }
}
@media(max-width: 1230px) {
    .all-services {
        h3 {
            width: 180px;
            font-size: 20px;
        }
        p {
            padding: 0 10px;
            font-size: 13px;
            line-height: 18px;
        }
        button {
            min-width: 160px;
            height: 38px;
            font-size: 11px;
            &_long {
                min-width: 193px;
            }
        }
    }
}
@media(max-width: 1080px) {
    .all-services {
        display: flex;
        justify-content: space-around;
        align-items: unset;
        height: unset;
        flex-wrap: wrap;
        p {
            margin-bottom: 0px;
            margin-top: 6px;
            width: 600px;
        }
        button {
            width: 100%;
        }
    }
}
@media (max-width: 965px) {
    .services {
        &__wrapper {
            min-width: 2360px;
            display: flex;
        }
        &__scroll {
            &::-webkit-scrollbar {
                display: none; /*Chrome, Safari, Opera*/
            }
            -ms-overflow-style: none;  /* IE, Edge */
            scrollbar-width: none;  /* Firefox */
            overflow: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
}
@media (max-width: 940px) {
    .all-services {
        display: flex;
        justify-content: left;
        align-items: unset;
        height: unset;
        flex-wrap: wrap;
        h3 {
            width: unset;
        }
        p {
            margin-bottom: 10px;
            margin-top: 0px;
            padding-left: 0px;
            min-width: 200px;
        }
        button {
            width: 100%;
        }
    }
}
@media (max-width: 600px) {
    .services {
        margin-bottom: 30px;
        h2 {
            margin-left: 20px;
            font-size: 20px;
            margin-bottom: 20px;
        }
        &__wrapper {
            min-width: 1783px;
        }
    }
    .service-block {
        max-width: 278px;
        height: 388px;
        &:first-child {
            margin-left: 20px;
        }
        &:last-child {
            margin-right: 20px;
        }
        img {
            height: 173px;
        }
        &__text {
            padding: 20px;
        }
        h3 {
            height: 27px;
            font-size: 18px;
            margin-bottom: 25px;
        }
        button {
            margin-top: -10px;
        }
        p {
            font-size: 12px;
            line-height: auto;
        }
        &__special {
            padding: 8px 15px;
            width: 202px;
            font-size: 11px;
        }
        &__offer {
            font-size: 11px;
            padding: 8px 9px;
            top: 160px;
            margin-left: 20px;
            &_discount {
                margin-left: 80px;
            }
        }
    }
    .all-services {
        padding: 20px;
        height: 173px;
        border-radius: 0px;
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
        }
        button {
            width: 160px;
            margin-bottom: 10px;
        }
        &__portfolio {
            height: 183px;
        }
    }
}